@keyframes hourglass-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.hourglass {
  color: var(--dmun-primary);
}

.hourglass-animation {
  animation: hourglass-animation 0.5s ease-in-out;
}