@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dmun-primary: #3d7dd2;
  --dmun-black: #000;
  --voting-for: #188a42;
  --voting-abstain: #3d7dd2;
  --voting-against: #ff3d32;
}

ol {
  list-style-type: upper-roman !important;
  text-indent: 0 !important;

  li > ol {
    list-style-type: lower-alpha !important;

    li > ol {
      list-style-type: lower-roman !important;

      li > ol {
        list-style-type: decimal !important;
      }
    }
  }
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

.custom-scrollbar {
  .p-scrollpanel,
  .p-scrollpanel:active {
    .p-scrollpanel-bar,
    .p-scrollpanel-bar-x,
    .p-scrollpanel-bar-y {
      background: #e2e2e2 !important;
    }
  }
}

// Quill Editor Style Overrides (for dark mode)
html.dark {
  .ql-snow {
    border: 1px solid #3d7dd2 !important;
    background-color: #183254 !important;
    color: #fff !important;
  }

  .ql-toolbar {
    .ql-stroke {
      stroke: #3d7dd2;
    }

    .ql-fill {
      fill: #3d7dd2;
    }

    .ql-picker-label {
      color: #3d7dd2 !important;
    }

    .ql-picker-label.ql-active {
      color: #fff !important;
    }

    button.ql-active {
      .ql-fill {
        fill: #fff !important;
      }

      .ql-stroke {
        stroke: #fff !important;
      }
    }
  }

  .p-editor-content,
  .ql-editor {
    background-color: #0c192a !important;
    color: #fff !important;

    code {
      background-color: #3164a8 !important;
      color: #fff !important;
    }

    a {
      color: #b1cbed !important;
    }

    pre.ql-syntax {
      background-color: #b1cbed !important;
      color: #0c192a !important;
    }
  }
}
