.markdown {
    // General
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #333;

    > *:first-child {
        margin-top: 0.6em;
    }

    // Headers
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1.5em 0 0.5em;
        line-height: 1.2;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;
        font-weight: bold;
    }

    // Paragraphs
    p {
        margin: 1em 0;
    }

    // Links
    a {
        color: #007bff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    // Lists
    ul,
    ol {
        margin: 1em 0;
        padding: 0 0 0 2em;
        li {
            margin: 0.5em 0;
        }
    }

    ul {
        list-style-type: disc; // for unordered lists, typically bullets
    }

    ol {
        list-style-type: decimal; // for ordered lists, typically numbers
    }

    // Blockquotes
    blockquote {
        margin: 1em 0;
        padding: 0 1em;
        border-left: 0.25em solid #ddd;
        color: #777;
    }

    // Code
    pre {
        margin: 1em 0;
        padding: 0.5em;
        background-color: #f2f2f2;
        border-radius: 0.3em;
        overflow: auto;

        code {
            font-family: "Source Code Pro", monospace;
            font-size: 0.9em;
            color: #333;
        }
    }

    // Inline code
    code {
        font-family: "Source Code Pro", monospace;
        font-size: 0.9em;
        color: #333;
        background-color: #f2f2f2;
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
    }

    // Footnote
    .footnote {
        font-size: 0.8em;
        color: #777;
    }

    // Strikethrough
    del,
    s,
    strike {
        text-decoration: line-through;
    }

    // Tables
    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }

    // Tasklist
    .task-list-item {
        list-style-type: none;

        input {
            margin-right: 0.5em;
        }
    }
}
